---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const collection = await getCollection("static_content");
    return collection.map(item => (
        {
            params: {id: item.id},
        }
    ));
}

const {id} = Astro.params;
---

<Layout>
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold">Static Page</h1>
        <p class="mt-4 text-lg">This is a static page with ID: { id }</p>
    </div>
</Layout>